/* colors.css */

:root {
  --primary: #fcd46e !important;
  --primary-darken: #fdc843 !important;
  --secondary: #fe7210 !important;
  --shadow: #f1f2f4 !important;
  --black: #212529 !important;

  --background-primary: #fff0e5;
  --background-secondary: #f1f2f4;

  --text-black: #212529;
  --text-gray:#6c757d;
  --text-shadow: #f8f9fa;

  --border-primary: #ced4da;
  --border-secondary: #6c757d;
  --border-black: #10162f;
  --border-shadow: #f8f9fa;
 }

 