/* colors.css */

:root {
  --primary: #007bff; 
  --secondary: #6c757d;
  
  --background-primary: #fff0e5;
  --background-secondary: #f1f2f4;
  --background-dark: #10162f;
  --background-light: white;

  --button-background: #edc251;
  --button-background-hover: black;

  --text-primary: #212529;
  --text-secondary: #6c757d;
  --text-light: #f8f9fa;

  --border-primary: #ced4da;
  --border-secondary: #6c757d;
  --border-dark: #10162f;
  --border-light: #f8f9fa;

 }


 .text-white {
  color: var(--text-light) !important;
 }

.text-primary {
  color: var(--primary) !important;
}
 